@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.providers-carousel {
  background-color: #fafbfc;
  padding: 48px 0;
  overflow: hidden;
}

@media (max-width: 992px) {
  .providers-carousel {
    padding: 24px 0;
  }
}

.providers-carousel--title {
  color: #253858;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

@media (max-width: 992px) {
  .providers-carousel--title {
    font-size: 20px;
  }
}

.providers-carousel__slider {
  position: relative;
  width: 100%;
  height: 100px;
  margin: 40px auto auto auto;
}

@media (max-width: 992px) {
  .providers-carousel__slider {
    margin-top: 25px;
  }
}

.providers-carousel__slider::before,
.providers-carousel__slider::after {
  background: linear-gradient(to right,
      #fafbfc 0%,
      rgba(250, 251, 252, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 10%;
  z-index: 2;
}

.providers-carousel__slider::after {
  right: -15px;
  top: 0;
  transform: rotateZ(180deg);
}

.providers-carousel__slider::before {
  left: -15px;
  top: 0;
}

.providers-carousel__slider__slide-track {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 60s linear infinite;
}

.providers-carousel__slider__slide-track--slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 250px;
  margin: 0 40px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}

@media (max-width: 768px) {
  .providers-carousel__slider__slide-track--slide {
    width: 150px;
    margin: 0 20px;
  }
}

.providers-carousel__slider__slide-track--slide img {
  width: 115px;
  height: auto;
}

.providers-carousel__slider__slide-track--slide img.tbs {
  width: 80px;
}

@media (max-width: 768px) {
  .providers-carousel__slider__slide-track--slide img.tbs {
    width: 65px;
  }
}

@media (max-width: 768px) {
  .providers-carousel__slider__slide-track--slide img {
    width: 100px;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.providers-carousel {
  background-color: #fafbfc;
  padding: 48px 0;
  overflow: hidden;
}

.providers-carousel__slider {
  position: relative;
  width: 100%;
  height: 100px;
  margin: 40px auto;
}

.providers-carousel__slider::before,
.providers-carousel__slider::after {
  background: linear-gradient(to right, #fafbfc 0%, rgba(250, 251, 252, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 10%;
  z-index: 2;
}

.providers-carousel__slider::after {
  right: -15px;
  top: 0;
  transform: rotateZ(180deg);
}

.providers-carousel__slider::before {
  left: -15px;
  top: 0;
}

.providers-carousel__slider__slide-track {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 60s linear infinite;
}

.providers-carousel__slider__slide-track--slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 250px;
  margin: 0 40px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}

.providers-carousel__slider__slide-track--slide img {
  width: 115px;
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 11));
  }
}


